{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Update Client" %}{% endblock %}

{% block content %}
{% load crispy_forms_tags %}


<div class="container-fluid">
    <!-- LOGIN -->
    <div class="row mt-2">
        <div class="col">
            <div class="card">
                <div class="card-header"><Strong>{% trans "Update Client"  %} "{{client_to_update.user}}"</Strong></div>

                <div class="card-body">
                    <form method="POST" onsubmit="show_processing_model()" action="" class="">
                        {% csrf_token %}
                        {{ form|crispy }}


                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary px-4" type="submit">{% trans "Update" %}
                                </button>
                            </div>

                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
